# Node
node_modules/
npm-debug.log*

# Env
.env
.env.local
.env.production

# Logs
logs/
*.log

# Base de dados local
*.db
*.sqlite
*.sqlite3

# Uploads
backend/uploads/*
!backend/uploads/.gitkeep

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
.idea/

# Build
dist/
coverage/

# Pass do supabase
supabase
